h1{
    color: White;
    font-family: 'Baloo Tamma';
}

h1body{
    color: #373F51;
    font-family: 'Baloo Tamma';
	font-size: 3em;
	text-align: center;
}

.header {
    background-color: #373F51;
	font-family: 'Baloo Tamma';
    margin-top: 0;
    padding: 20px 20px 20px 40px;
    font-size: 42pt;
    text-decoration: none;
}

body {
    background-color: White;
}
